<!DOCTYPE html>
<html>
    <head>
        <title>Interest Form</title>
    </head>
    <body>
        <h3>Please enter your interests below</h3>
        <form>
            <input type="text" id="interest" name="interes1t" onkeypress="getUserInterest()">
        </form>
        <script>
            function getUserInterest() {
                if (event.keyCode == 13) {
                    var interest = document.getElementById("interest").value;
                    alert(interest);
                }
            }
        </script>
    </body>
</html>