<!DOCTYPE html>
<html>
    <head>
        <title>Interest Form</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="title_heading"><h3 class="title">Please enter your interests below</h3></div>
        <form>
            <div class="forms">
            <label for="interest">Interest:</label>
            <br>
            <input type="text" id="interest" name="interest">
            
            </div>

            <div class="forms">
            <label for="name">Enter your name:</label>
            <br>
            <input type="text" id="name" name="name">
            </div>

            <div class="forms">
            <label for="long">Enter your longitude:</label>
            <br>
            <input type="text" id="long" name="long">
            </div>

            <div class="forms">
                <label for="lat">Enter your longitude:</label>
                <br>
                <input type="text" id="lat" name="lat">
            </div>            
        </form>
        <button onclick="sendData()">Send Data</button> 
        <script>
            class Person {
                constructor(interest, name, latitude, longitude) {
                    this.interest = interest;
                    this.name = name;
                    this.latitude = latitude;
                    this.longitude = longitude;
                }
            }
            var interestlist = [new Person("Track", "Bob", 39.685008, -75.750213), new Person("Smash", "George", 60.3, -15.1), new Person("Reading", "Steve", 39.40413 -75.45104)]
            function getUserInterest() {
                var interest = document.getElementById("interest").value;
                alert(interest);
                return interest;
                
            }
            function getUserName() {
                var userName = document.getElementById("name").value;
                alert(userName);
                return userName;
            }
            function getLong() {
                var long = document.getElementById("long").value;
                alert(long);
                return long;
            }
            function getLat() {
                var lat = document.getElementById("lat").value;
                alert(lat);
                return lat;
            }
            function sendData() { 
                var interest = getUserInterest();
                var userName = getUserName();
                var long = getLong();
                var lat = getLat();
                var user = new Person(interest, userName, long, lat);
                var distance = getDistance(user);
                alert(distance);
                return user;
            }
            function checkInterest(person) {
                var matchinginterest = [];
                for (let x of interestlist) {
                    if (person.interest === x.interest) {
                        matchinginterest.push(x);
                    }
                }
                return matchinginterest;
            }
            function getDistance(person) {
                var distlist = [];
                for (let x of checkInterest(person)) {
                    var distmiles = Math.acos(Math.sin(person.latitude)*Math.sin(x.latitude)+Math.cos(person.latitude)*Math.cos(x.latitude)*Math.cos(x.longitude-person.longitude))*6371/1.609;
                    distlist.push(distmiles)
                }
                return distmiles;
            }
        </script>
    </body>
</html>