<!DOCTYPE html>
<html>
    <head>
        <title>Interest Form</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="title_heading"><h3 class="title">Please enter your interests below</h3></div>
        <form>
            <div class="forms">
            <label for="interest">Interest:</label>
            <br>
            <input type="text" id="interest" name="interest" onkeypress="getUserInterest()">
            </div>

            <div class="forms">
            <label for="name">Enter your name:</label>
            <br>
            <input type="text" id="name" name="name" onkeypress="getUserName()">
            </div>

            <div class="forms">
            <label for="address">Enter your address:</label>
            <br>
            <input type="text" id="address" name="address" onkeypress="getLocation()">
            </div>
        </form>
        <script>
            function enterKeyPressed() {
                if (event.keyCode == 13) {
                    return true;
                }
            }
            function getUserInterest() {
                if (event.keyCode == 13) {
                    var interest = document.getElementById("interest").value;
                    alert(interest);
                }
            }
            function getUserName() {
                if (enterKeyPressed()) {
                    var userName = document.getElementById("name").value;
                    alert(userName);
                }
            }
            function getLocation() {
                if (enterKeyPressed()) {
                    var location = document.getElementById("address").value;
                    alert(location);
                }
            }
        </script>
    </body>
</html>